.main {
  padding: $padding*2 0;

  time {
    margin: 0 0 0 .25em;
    display: block;

    .fa {
      margin-right: .25em;
    }
  }

  img {
    margin-bottom: $padding/4;

    @include mobilefirst($bp-tablet) {
      margin-bottom: $padding/2;
    }
  }


  article {
    margin-top: $padding*6;
    // @extend .group;

    &:first-child {
      margin-top: 0;
    }
  }

    .txt {
      @extend .offset2;
      @extend .span8;

    }

}
  figure,
  .wide {
    margin-top: $padding;
    margin-right: 0;
    margin-bottom: $padding !important;
    margin-left: 0;
    // @extend .span12;
  }

    figure img {
      border: 1px solid lighten($text-black, 70);
    }
