.main {
  padding: $padding 0;

  time {
    margin: 0 0 0 .25em;
    display: block;

    .fa {
      margin-right: .25em;
    }
  }

  img {
    margin-bottom: $padding/4;

    @include mobilefirst($bp-tablet) {
      margin-bottom: $padding/2;
    }
  }

  figure {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: $padding !important;
    margin-left: 0;
    @extend .span12;
  }

  article {
    margin-top: $padding*3;
    @extend .group;

    &:first-child {
      margin-top: 0;
    }
  }

    .txt {
      @extend .offset2;
      @extend .span8;

    }

}
